.RemoveButton {
    position: absolute;
    right: 5%;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    opacity: 0.8;
}

/* .RemoveButton {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    } */
    .RemoveButton:hover {
        opacity: 1;
        border: 0.2px solid #eee;
    }

    .RemoveButton:before, .RemoveButton:after {
        position: absolute;
        left: 46%;
        top: 25%;
        content: ' ';
        height: 10px;
        width: 2px;
        background-color: #333;
    }
    .RemoveButton:before {
        transform: rotate(45deg);
    }
    .RemoveButton:after {
        transform: rotate(-45deg);
    }