.PositionsBlock {
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.5);
    padding: 10px 15px;
}

.Positions {
    height: 427px;
    overflow-y: scroll; 
    border-radius: 10px;
    background-color: white;
    padding: 20px 50px;
}

h1 {
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden; 
}

