.AddItemBlock {
    padding: 15px 30px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5); 
}

@media screen and (max-width: 1024px) {
    .AddItemBlock {
        width: 100%;
    }
}