.ListBuilder {
    width: 1000px;
    min-height: 600px;
    border-radius: 10px;
    margin: auto;
    padding: 10px 10px 3px 10px;
    background-color: rgba(238, 238, 238, 0.25); 
}

@media screen and (max-width: 1024px) {
    .ListBuilder {
        width: 30%;
    } 
}